In [1]:
import pandas as pd

In [2]:
trip_start = pd.read_csv('../data/Trip_Start/trip_start.csv')
trip_end = pd.read_csv('../data/Trip_End/trip_end.csv')

In [3]:
trip_start.head()

,trip_id,pickup_location_id,dropoff_location_id,vendor_id,pickup_datetime,estimated_dropoff_datetime,estimated_fare_amount
0,c66ce556bc,93,93,1,2024-05-25 13:19:00,2024-05-25 14:03:00,34.185953
1,f93c901b2d,247,247,1,2024-05-25 18:32:00,2024-05-25 19:15:00,69.124717
2,9ddba1d91a,7,193,2,2024-05-25 05:17:00,2024-05-25 05:37:00,47.097901
3,cc4db3afb9,193,193,2,2024-05-25 16:16:00,2024-05-25 17:02:00,66.546304
4,f881b97b2c,93,93,1,2024-05-25 12:43:00,2024-05-25 13:39:00,69.309091

In [19]:
trip_start.isnull().sum()

trip_id                       0
pickup_location_id            0
dropoff_location_id           0
vendor_id                     0
pickup_datetime               0
estimated_dropoff_datetime    0
estimated_fare_amount         0
dtype: int64

In [4]:
trip_start.shape

(4999, 7)

In [5]:
trip_end.head()

,dropoff_datetime,rate_code,passenger_count,trip_distance,fare_amount,tip_amount,payment_type,trip_type,trip_id
0,2024-05-25 14:05:00,5.0,0.0,0.1,40.096207,0.000000,3.0,2.0,c66ce556bc
1,2024-05-25 19:15:00,5.0,1.0,0.0,69.124717,0.000000,3.0,2.0,f93c901b2d
2,2024-05-25 05:41:00,1.0,1.0,0.0,47.097901,0.000000,1.0,1.0,9ddba1d91a
3,2024-05-25 17:05:00,1.0,1.0,0.0,77.156184,1.423181,1.0,1.0,cc4db3afb9
4,2024-05-25 13:39:00,5.0,1.0,0.1,81.467290,0.000000,3.0,2.0,f881b97b2c

In [6]:
trip_end.shape

(4999, 9)

In [20]:
trip_end.isnull().sum()

dropoff_datetime      0
rate_code           531
passenger_count     531
trip_distance         0
fare_amount           0
tip_amount            0
payment_type        531
trip_type           531
trip_id               0
dtype: int64

In [7]:
trips = pd.merge(trip_start, trip_end, on='trip_id')

In [8]:
trips.head()

,trip_id,pickup_location_id,dropoff_location_id,vendor_id,pickup_datetime,estimated_dropoff_datetime,estimated_fare_amount,dropoff_datetime,rate_code,passenger_count,trip_distance,fare_amount,tip_amount,payment_type,trip_type
0,c66ce556bc,93,93,1,2024-05-25 13:19:00,2024-05-25 14:03:00,34.185953,2024-05-25 14:05:00,5.0,0.0,0.1,40.096207,0.000000,3.0,2.0
1,f93c901b2d,247,247,1,2024-05-25 18:32:00,2024-05-25 19:15:00,69.124717,2024-05-25 19:15:00,5.0,1.0,0.0,69.124717,0.000000,3.0,2.0
2,9ddba1d91a,7,193,2,2024-05-25 05:17:00,2024-05-25 05:37:00,47.097901,2024-05-25 05:41:00,1.0,1.0,0.0,47.097901,0.000000,1.0,1.0
3,cc4db3afb9,193,193,2,2024-05-25 16:16:00,2024-05-25 17:02:00,66.546304,2024-05-25 17:05:00,1.0,1.0,0.0,77.156184,1.423181,1.0,1.0
4,f881b97b2c,93,93,1,2024-05-25 12:43:00,2024-05-25 13:39:00,69.309091,2024-05-25 13:39:00,5.0,1.0,0.1,81.467290,0.000000,3.0,2.0

In [9]:
trips.shape

(4999, 15)

In [10]:
trip_start.columns

Index(['trip_id', 'pickup_location_id', 'dropoff_location_id', 'vendor_id',
       'pickup_datetime', 'estimated_dropoff_datetime',
       'estimated_fare_amount'],
      dtype='object')

In [11]:
trip_end.columns

Index(['dropoff_datetime', 'rate_code', 'passenger_count', 'trip_distance',
       'fare_amount', 'tip_amount', 'payment_type', 'trip_type', 'trip_id'],
      dtype='object')

In [12]:
sorted_trips = trips.sort_values(by=['pickup_datetime', 'dropoff_datetime'])
sorted_trips.head()

,trip_id,pickup_location_id,dropoff_location_id,vendor_id,pickup_datetime,estimated_dropoff_datetime,estimated_fare_amount,dropoff_datetime,rate_code,passenger_count,trip_distance,fare_amount,tip_amount,payment_type,trip_type
191,112cfd5a09,254,119,1,2024-05-25 00:01:00,2024-05-25 00:20:00,56.386583,2024-05-25 00:20:00,1.0,1.0,0.00,56.386583,0.0,1.0,1.0
3552,750b087814,95,160,2,2024-05-25 00:01:00,2024-05-25 00:24:00,74.202816,2024-05-25 00:24:00,1.0,1.0,2.49,84.045145,0.0,2.0,1.0
2641,4c523c6888,130,216,2,2024-05-25 00:02:00,2024-05-25 00:27:00,56.537472,2024-05-25 00:27:00,1.0,1.0,3.09,62.946882,0.0,2.0,1.0
1988,c1e4a59253,74,116,2,2024-05-25 00:04:00,2024-05-25 00:27:00,45.654812,2024-05-25 00:27:00,1.0,1.0,3.54,45.654812,0.0,2.0,1.0
2899,66da2a2157,74,237,2,2024-05-25 00:04:00,2024-05-25 00:30:00,80.442013,2024-05-25 00:32:00,1.0,1.0,2.53,90.163115,0.0,2.0,1.0

In [13]:
# kpi 1: total fare per day
sorted_trips['pickup_date'] = pd.to_datetime(sorted_trips['pickup_datetime']).dt.date
total_fare_per_day = sorted_trips.groupby('pickup_date')['fare_amount'].sum().reset_index()
total_fare_per_day.head()

  pickup_date    fare_amount
0  2024-05-25  274393.882557

In [14]:
sorted_trips['pickup_date'].value_counts()

pickup_date
2024-05-25    4999
Name: count, dtype: int64

In [15]:
# kpi 2: count of trips
count_of_trips = sorted_trips.groupby('pickup_date')['trip_id'].count().reset_index()
count_of_trips.head()

  pickup_date  trip_id
0  2024-05-25     4999

In [16]:
# kpi 3: average fare 
average_fare = sorted_trips.groupby('pickup_date')['fare_amount'].mean().reset_index()
average_fare.head()

  pickup_date  fare_amount
0  2024-05-25    54.889754

In [17]:
# kpi 4: maximum fare 
maximum_fare = sorted_trips.groupby('pickup_date')['fare_amount'].max().reset_index()
maximum_fare.head()

  pickup_date  fare_amount
0  2024-05-25    99.990127

In [18]:
# kpi 5: minimum fare
minimum_fare = sorted_trips.groupby('pickup_date')['fare_amount'].min().reset_index()
minimum_fare.head()

  pickup_date  fare_amount
0  2024-05-25    10.036695